body {
    background-color: rgb(230, 143, 13);
}

h1,h4{
    font-size: 25px;
    text-decoration-color: red;
}

#score {
    font-size: 23px;
    margin: left;
}

#timer {
    font-size: 23px;
    margin: right;
}
p {
    font-size: 23px;
}